/* HEADER SECTION */

.header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    padding: 110px;
    padding-left: 650px;
    color: #FFF;
    margin-bottom: 140px;

}

.banner {
    text-align: right;
}

.banner-content {
    /* display: flex; */
    /* color: #FFF; */
    font-family: Work Sans;
    font-size: 65px;
    margin-bottom: 24px;
}


.banner-description {
    /* color: #FFF; */
    font-size: 16px;
    margin-bottom: 24px;
    font-family: Work Sans;
}

.contact-us-btn {
    color: #005FAC;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    padding: 15px 35px;
}

/* MAIN SECTION RELATED STYLES */

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* my failures related styles */

.my-failures-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 130px;

}


.my-failures-list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.my-failures-img {
    width: 300px;
}

.my-failures-title {
    /* display: flex; */
    font-size: 40px;
    font-family: Work Sans;
}

.my-failures-description {
    font-size: 16px;
    font-family: Work Sans;
    color: #444343;
}


.my-plans-container {
    display: flex;
    gap: 30px;
    font-family: Work Sans;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 130px;
}

#my-plans-title {
    font-family: Work Sans;
    text-align: center;
    font-size: 40px;
}

.call-now-btn {
    color: #005FAC;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    padding: 15px 35px;
}


.call-now-container {

    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    border-radius: 8px;
    padding: 50px;
    
}

.call-now-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
}